obj/Debug/net6.0/interpreter.assets.cache
obj/Debug/net6.0/interpreter.dll
obj/Debug/net6.0/interpreter.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/interpreter.pdb
obj/Debug/net6.0/ref/interpreter.dll
obj/Debug/net6.0/refint/interpreter.dll
